@page
@model ProductManagement.Pages.Historico.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Sola
            </th>
            <th>
                Tamanho
            </th>
            <th>
                Defeito
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Producao.OrdemProducao.SolaId)</td>
            <td>@Html.DisplayFor(model => model.Producao.OrdemProducao.Tamanho)</td>
            <td>@Html.DisplayFor(model => model.Producao.Defeito.Nome)</td>
        </tr>
    </tbody>
</table>
