html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
    height: 60px;
}

.main {
    padding: 25px;
}

.back_icon {
    color: black;
}