html {
  font-size: 14px;
}

body {
    background-color: #F2F2F2;
    color: #2d383d;
}

/** Table **/
tr:hover {
    background-color: #00000029 !important;
}

.thead-blue {
    background-color: #3a4c65;
    color: white;
}

/** Back arrow **/
.back_icon {
    color: #2d383d;
}

.search-group input {
    margin-left: 10px;
}

/** Card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid #EDEDED;
}

/** Header **/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: #3a4c65;
    border-bottom: 1px solid #dcdcdc;
    height: 50px;
}
.header span {
    font-size: 24px;
}

.pausa input {
    margin-top: 5px;
    margin-right: 20px;
}

/** Main container **/
.main {
    margin: 50px 25px;
}

.custom-container {
    background-color: white;
    padding: 10px 30px;
}

/* Producao Page */
.productionCounter {
    margin-top: 50px;
}

.productionBottomContainer {
    margin-top: 50px;
}

.productionNavigation span {
    font-size: 32px;
}

.productionNavigation i {
    font-size: 32px;
    color: #2d383d;
}
    .productionNavigation i:hover {
        color: #2f2f2f;
    }

.productionNavigation a:hover {
    text-decoration: none;
}


/** MOBILE **/
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
    .header {
        height: 50px;
    }
        .header img {
            width: 75px;
            height: 25px;
        }
        .header span {
            font-size: 16px;
        }
}
